/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
    General
*/

html {
    background-color: #4CAF50;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -ms-text-size-adjust: none;
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
}

/* slow */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.app{
    max-width: 960px;
    margin: 0 auto;
}

.button{
    padding: 1em;
    border: 0;
    /*border-bottom: 0.125em solid white; /*2/16em ~= 2px*/
    color: white;
    background-color: rgba(0,0,0,0);
}

.button:active{
    background-color: white;
    color: black;
}

#info, #definition{
    background: white;
    overflow-wrap: break-word;
    padding: 0.125em;
    display: none;
}

#definition > p{
    margin: 0;
}

.source{
    display: block;
    margin-bottom: 2pt;
}

#search{
    padding: 1em;
    font-size: 1.3em;
}

#searchButton{
    font-weight: bold;
}

.infoButton{
    font-size: 0.8em;
}

#bottomButtons{
    margin-top: 5em;
}
/*568px>*/
@media screen and (min-width: 35.5em){

}
/*768px>*/
@media screen and (min-width: 48em){
    #info, #definition{
        padding: 1em;
    }
}
/*1024px>*/
@media screen and (min-width: 64em){
    #search{
        margin-bottom: 1em;
    }
    #head{
        margin-top: 2em;
    }
}
/*1280px>*/
@media screen and (min-width: 80em){

}